<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>The Number of Users We Have :<%= count %></h2>
    <form method="get" action="/users/New"><button>Join Us Today!</button></form>
    <br><form method="get" action="/users"><button>See Users</button></form>
</body>
</html>