<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Write new chat</h2>
    <form method="post" action="/chats/new">
        <input name="from" type="text" placeholder="Enter Your name"><br><br>
        <textarea name="msg" placeholder="enter your massage"></textarea><br><br>
        <input name="to" type="text" placeholder="Enter Receiver name"><br><br>
        <button>send massage</button>
    </form>
</body>
</html>