body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.button {
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    background-color: #2983e4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;     
}
.button:hover {
    background-color: #0056b3;
}